#p1 {
    display: block;
    text-align: center;
}

#p2 {
    color: red;
}

#div1 {
    text-align: center;
}

#div2 {
    background-color: yellow;
}

#div3 {
    color: red;
    background-color: yellow;
}

span {
    background-color: yellow;    
}

#pic1 {
    width: 300px;
    height: 200x;
}

#pic2 {
    width: 300px;
    height: 200px;
}

#pic3 {
    display: block;
    margin-left: 90px;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

a:hover {
    background-color: yellow;
  }

  li:nth-child(2n) {
    background: yellow;
  }

/*WHAT IS THIS ?! */
  li:nth-child(2),
  li:nth-child(4),
  li:nth-child(6),
  li:nth-child(8),